p.caption {
    color: #a88dce !important;
}

.wy-side-nav-search {
    background-color: #7122dc;
}

h1, h2, a {
    color: #8c54d8;
}

a:hover {
    color: #a88dce;
}

html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple) > dt {
    color: #8c54d8;
    background-color: #ede7f7;
    border-top: 3px solid #a88dce;
    width: 100%;
}

html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple) dl:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple) > dt {
    border-left: 3px solid #d8d1e3;
}

.rst-content .viewcode-link {
    color: #a88dce;
}

.rst-content div[class^="highlight"] {
    border: 1px solid #d8d1e3;
    filter: drop-shadow(2px 4px 4px #d8d1e3);
}
