{% for id, entity in feed.entities.items() %}{% if entity.type.short_name == "DOMAIN" %}
alert dns $HOME_NET any -> any any (msg:"EXAMPLE ({{ entity.name }})"; metadata: type -; dns.query; content:"{{ entity.name }}"; depth:{{ entity.name|length }}; nocase; endswith; fast_pattern; classtype:targeted-activity; rev:1;)
{% endif %}{% endfor %}
